@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Companies Management System</h1>
    <br />
    <br />

    <p>
        Welcome to our <b>Companies Management System Website</b> for company data management.
    </p>
    <p>
        This platform offers intuitive tools for administrators to effortlessly handle company information.
        <br />
        From Adding and Editing company details to Managing employees and tracking transactions, 
        our user-friendly interface simplifies complex tasks. 
        <br />
        Explore the demo to experience
        streamlined company management firsthand.
    </p>
</div>
