@{
    ViewData["Title"] = "Edit Department";
}

@model CMS.Web.Models.Entities.Department

<!-- Include Font Awesome CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<br />
<h1>@ViewData["Title"]</h1>

@if (Model is null)
{
    <p>No department was found with this ID.</p>
}
else
{
    <form method="post">

        <div class="mt-3">
            <label class="form-label">Department ID</label>
            <input type="text" class="form-control" asp-for="DepID" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="form-label">Company ID</label>
            <input type="text" class="form-control" asp-for="CompID" readonly />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Save <!-- Font Awesome save icon -->
            </button>

            <button type="submit" class="btn btn-danger ms-3" asp-action="Delete" asp-controller="Departments">
                <i class="fas fa-trash-alt"></i> Delete <!-- Font Awesome delete icon -->
            </button>
        </div>
    </form>
}
